.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mainCard{
  min-width:  540px;
  min-height: 300px;
  border: 2px solid rgb(251, 219, 219);
  border-radius: 20px;
  box-shadow: 10px 10px rgba(255, 0, 0, 0.030);
}

.pagination__page {
  display: inline-block;
  margin: 0 4px;
}

.pagination__link {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
}
.pagination__link:hover {
  color: #333333;
  background-color: #ef6464;
  border: 1px solid #8a1f1f;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
}

.pagination__link--active {
  background-color: #f26767;
  color: #000000;

}

.pagination{
 justify-content: center;
 align-items: center;
 margin-top: 30px;
}
.pagination__button a{
  background-color: rgb(247, 96, 96);
  color: black;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}
.pagination__button a:hover{
  background-color: rgb(247, 96, 96);
  color: black;text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;

}

.pagination__button--disabled a:hover{
  cursor: not-allowed;
}


#mainCard{
  min-width:  540px;
  min-height: 300px;
  border: 2px solid rgb(251, 219, 219);
  border-radius: 20px;
  box-shadow: 10px 10px rgba(255, 0, 0, 0.030);
}

@media only screen and (max-width: 560px) {
  #mainCard{
    min-width:  90vw;
    min-height: 40vw;
    border: 2px solid rgb(251, 219, 219);
    border-radius: 20px;
    box-shadow: 10px 10px rgba(255, 0, 0, 0.030);
  }
  
}
@media only screen and (max-width: 1000px) {
  #mainproductDir{
    flex-direction: column;
    align-items: center;
  }
  
}





